
@font-face {
  font-family: "SF Display Bold";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

@font-face {
  font-family: "SF Display Medium";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

@font-face {
  font-family: "SF Display Regular";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display Semibold";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}


body{
  margin: 0;
  padding: 0;
  background: #262626;
}

.screen{
  background: #FFFFFF;
  width: 375px;
  height: 1450px;
  border-radius: 50px;
  margin: 0 auto;

}

.second-header{
  width: 375px;
  height: 40.5px;
  background: #FFFFFF;
  display: grid;
  grid-template-columns: 33% 67%;
}

.second-header-first-column{
  background-color: #FFFFFF;
  margin-top: 7.5px;
  font-size: 17px;
  font-family: SF Display Regular, helvetica;
  font-weight: bold;
  color: rgb(0, 122, 255);
}

.backarrow{
  width:12.5px;
  height: auto;
  float: left;
  margin-right: 2px;
  margin-left: 7px;
}

.second-header-second-column{
  background-color: #FFFFFF;
  height: 40.5px;
  margin-top: 0px;
  font-size: 17px;
  font-weight: bold;
  font-family: Sf Display Semibold, helvetica;
}

.search-bar{
  width:375px;
  height: 46px;
  background-color: #FFFFFF;
  display: table-cell;
  vertical-align: middle;
}

.search-input{
  width:359px;
  height: 36px;
  background-color: rgb(235, 235, 236);
  margin: 0 auto;
  border-radius: 10px;
}

.fa-search{
  margin-left: 10px;
  margin-top: 10px;
  font-family: SF Display Regular, helvetica;
  color: #8E8E93;
}

.map-column{
  background-color: orange;
  height: 367px;
  width: 374px;
}

.map{
  height: 367px;
  width: 374px;
}

h5{
    margin: 0px;
    padding-top: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 37px;
    font-size: 15px;
    font-family: SF Display Medium, helvetica;
}

h4{
  font-family: SF Display Regular, helvetica;
  font-size: 17px;
}

.banner-header{
  height: 40px;
  width: 375px;
  background-color: #DBE5FF;

}

.container-title {
  display: flex;
  width: 375px;
  border-bottom: .01px solid #C8C7CC;
  height: 40px;
}

.container-1 {
  display: flex;
  width: 375px;
  border-bottom: .01px solid #C8C7CC;
}

.container-2 {
  display: flex;
  width: 375px;
 border-bottom: .01px solid #C8C7CC;
}

.container-3 {
  display: flex;
  width: 375px;


}

.box-1{

  width: 60px;
  height: 50px;
  margin-top: 6px;
}

.box-2{
  width: 180px;
  height: 50px;
  margin-top: 6px;
}

.box-3{
  width: 135px;
  text-align: right;
  height: 50px;
  margin-top: 6px;
}

.box-1 h4{
margin-left: 15px;
margin-top:10px;
}

.box-2 h4{
margin-left: 15px;
margin-top:10px;
}

.box-3 h4{
margin-right: 20px;
margin-top:10px;
}

.box-1 h3{
margin-left: 15px;
margin-top: 2px;

}

.box-2 h3{
margin-left: 15px;
margin-top: 2px;

}

.box-3 h3{
margin-right: 20px;
margin-top: 2px;

}

.time{
  margin-bottom: 10px;
}

.frequency{
font-size: 12px;
line-height: .001px;
color:#8A8A8F;
font-weight: 400;
}

h3{
font-family: SF Display Regular, helvetica;
font-size: 17px;

}

.header{
color:#8A8A8F;
font-weight: 400;
}

/*
.frontarrow{
width:10px;
float: right;
margin-top: -30px;
}
*/
